In [1]:
import pandas as pd
df = pd.read_csv('ml-latest-small/ratings.csv', delimiter = ',')
df0 = pd.read_csv('ml-latest-small/movies.csv', delimiter = ',')
df_merge = df.merge(df0, on = 'movieId' )
def rating_class(row):
    if row['rating'] <= 2.0:
        return 'низкий рейтинг'
    elif row['rating'] <= 4.0:
        return 'средний рейтинг'
    elif (4.5 == row['rating']) or (5.0 == row['rating']) :
        return 'высокий рейтинг'
        return False

df_merge['class'] = df_merge.apply(rating_class, axis=1)
#df_merge['class'].value_counts()
df_merge

,userId,movieId,rating,timestamp,title,genres,class
0,1,31,2.5,1260759144,Dangerous Minds (1995),Drama,средний рейтинг
1,7,31,3.0,851868750,Dangerous Minds (1995),Drama,средний рейтинг
2,31,31,4.0,1273541953,Dangerous Minds (1995),Drama,средний рейтинг
3,32,31,4.0,834828440,Dangerous Minds (1995),Drama,средний рейтинг
4,36,31,3.0,847057202,Dangerous Minds (1995),Drama,средний рейтинг
...,...,...,...,...,...,...,...
99999,664,64997,2.5,1343761859,War of the Worlds (2005),Action|Sci-Fi,средний рейтинг
100000,664,72380,3.5,1344435977,"Box, The (2009)",Drama|Horror|Mystery|Sci-Fi|Thriller,средний рейтинг
100001,665,129,3.0,995232528,Pie in the Sky (1996),Comedy|Romance,средний рейтинг
100002,665,4736,1.0,1010197684,Summer Catch (2001),Comedy|Drama|Romance,низкий рейтинг
100003,668,6425,1.0,993613478,"6th Man, The (Sixth Man, The) (1997)",Comedy,низкий рейтинг

In [2]:
import pandas as pd
df = pd.read_csv('ml-latest-small/keywords.csv', delimiter = ',')
geo_data = {
'Центр': ['москва', 'тула', 'ярославль'],
'Северо-Запад': ['петербург', 'псков', 'мурманск','старый оскол'],
'Дальний Восток': ['владивосток', 'сахалин', 'хабаровск']}
def city(row):
    for key, value in geo_data.items():
        for v in value:
            if v.lower() in row['keyword'].lower():
                return key
df['region'] = df.apply(city, axis=1).fillna('undefined')
df['region'].value_counts()
df

                       keyword     shows        region
0                           вк  64292779     undefined
1                одноклассники  63810309     undefined
2                        порно  41747114     undefined
3                         ютуб  39995567     undefined
4                    вконтакте  21014195     undefined
...                        ...       ...           ...
99995   эльдорадо старый оскол      3705  Северо-Запад
99996      frigate для firefox      3630     undefined
99997                   укрсиб      3630     undefined
99998  погода в ялте на неделю      3688     undefined
99999                     ггму      3630     undefined

[100000 rows x 3 columns]